/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* Full Reset */
* {
  padding: 0px;
  box-sizing: border-box;
}

/* Utilities */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff8e5;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}
.btn {
  background-color: #e05d5d;
  padding: 0.75rem;
  border-radius: 0.25rem;
}
.btn:hover {
  opacity: 0.8;
}
/* Header */
header {
  margin: 1rem;
}
header > p {
  padding-bottom: 1rem;
}
/* Grid */
#grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

/* Inner Grid Element */
#grid-element {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.grid-element-name {
  margin: 0;
}

/* Logos */
#lang-label {
  display: flex;
  font-size: 1.5rem;
}
#lang-label > P {
  margin-right: 0.5rem;
}
.fa-python {
  color: #366996;
}
.fa-cuttlefish,
.fa-plus {
  color: #00589d;
}
.fa-html5 {
  color: #d94925;
}
.fa-css3-alt {
  color: #0177bd;
}
.fa-js-square {
  color: #e7d14b;
}

/* Links */
#link-contributor > a {
  color: #333;
  padding-right: 0.25rem;
}

#link-contributor > a:focus {
  color: #333;
}

/* Link Logos */
.fa-twitter {
  color: #1d98e6;
}
.fa-github {
  color: #1b1e22;
}
.fa-linkedin {
  color: #0861b9;
}

/* Content */
.resources {
  color: #e05d5d;
}
.resources > a {
  display: block;
  color: #e05d5d;
}
.branch-name {
  color: #00589d;
}

/* Media Queries */
@media (min-width: 700px) and (max-width: 1024px) {
  #grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}
@media (max-width: 500px) {
  /* Link Contributor */
  #link-contributor > a {
    display: block;
    padding: 0.15rem;
  }
  #grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem;
  }
}
